<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%=title%>
    </title>
    <link rel="stylesheet" href="/css/auth_layout.css">
    <%- style %>
</head>
<body>
    <div class="container">
        <div class="in-container">
            <div id="sign-img">

            </div>
            <div class="box">
                <div class="item-1">
                    <p>Already have an account?</p>
                    <button class="btn">Sign In</button>
                </div>
                <h1 class="heading">
                    Create your free account
                </h1>
                <form action="/user/sign-up" id="fill-it" method="post">
                    <div>
                        <label for="name">Name: </label>
                        <input type="text" placeholder="Enter your name" id="name" name="name">
                    </div>
                   <div>
                    <label for="email">Email: </label>
                    <input type="email" placeholder="Enter your email" id="email" name="email">
                   </div>
                    <div>
                        <label for="pass">Password: </label>
                        <input type="password" placeholder="Enter your password" id="pass" name="pass">
                    </div>
                    <div>
                        <button type="submit"class="btn center">Sign Up</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <%- script %>
</body>
</html>