<link rel="stylesheet" href="/css/home.css">
<h1>Welcome to Fasten-Up</h1>
<!-- 1st check to avoid user from filling the form -->
<!-- But if the user knows html and creates a form and send data annonymously so the 2nd check is put in the action route-->
<%if(locals.user){%>
    <section id="feed-posts">
        <h4>Posts</h4>
        <form action="/post/create-post" id="new-post-form" method="post">
            <textarea name="content" cols="30" rows="3" placeholder="Add post" required></textarea>
            <input type="submit" value="Post">
        </form>
    </section>
    <%}%>
<div id="home-container">
        
        <section id="view-posts">
            <ul>
                <% for(i of posts){%>
                    <%- include('_post') -%>
                <%}%>
            </ul>
        </section>
        
        <section id="user-friends">
            <h4>Friends</h4>
            <% for(u of all_users){%>
                <p>
                    <a href="/user/profile/<%=u.id%>"><%=u.name%></a>
                </p>
            <%}%>
        </section>
</div>
<script src="/js/home_post.js"></script>