<form action="/users/create-session" id="fill-it" method="post">
   
   <div>
    <label for="email">Username/email: </label>
    <input type="email" placeholder="Enter your email" id="email" name="email"required>
   </div>
    <div>
        <label for="pass">Password: </label>
        <input type="password" placeholder="Enter your password" id="pass" required name="password">
    </div>
    <div>
        <button type="submit"class="btn center">Sign in</button>
    </div>
</form>

<div class="item-1">
    <!-- <p>Don't have an account?</p>
    <button class="btn">Sign up</button> -->
    <a href="/users/auth/google">Google sign in/ Google sign up</a>
</div>

