<form action="/user/create" id="fill-it" method="post">
   
    <div>
        <label for="name">Name: </label>
        <input type="text" placeholder="Enter your name" id="name" name="name" required>
    </div>
   <div>
    <label for="email">Email: </label>
    <input type="email" placeholder="Enter your email" id="email" name="email" required>
   </div>
    <div>
        <label for="pass">Password: </label>
        <input type="password" placeholder="Enter your password" id="pass" name="password" required>
    </div>
    <div>
        <label for="c_pass">Password: </label>
        <input type="password" placeholder="Confirm password" id="c_pass" name="c_password" required>
    </div>
     <div>
         <button type="submit"class="btn center">Sign up</button>
     </div>
 </form>
 
 <div class="item-1">
     <p>Already have an account?</p>
     <button class="btn">Sign in</button>
 </div>
