@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@1,500&display=swap');

.b-name
{
  font-family: 'Grand Hotel', cursive;
  font-size: 35px;
  font-style: italic;
  font-weight: bolder;
}

body
{
  font-family: 'Vollkorn', serif;
}