body
{
    margin: 0;
    font-family: 'Luckiest Guy', cursive;
    color: #570c0c;
    /* background-color: orange; */
}
#heading
{
    text-align: center;
}

main
{
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(94, 255, 0);
    width: 70%;
    margin: auto;
}
.heading-2
{
    border: 2px solid green;
}
input,select
{
    border:none;
    outline: none;
    box-sizing: border-box;
    width: 100%;
}
#description
{
    /* border: 2px solid red; */
    padding: 2%;
}
#container
{
    border: 2px solid red;
    display: flex;
    justify-content: space-between;
    padding: 2%;
}
.item
{
    border: 2px solid pink;
    width: 48%;
}
.tasks-btn-container
{
    display: flex;
    justify-content: center;
}

#list-container
{
    border: 2px solid orange;
}

#list
{
    list-style-type: none;
    border: 5px solid pink ;
}

.contact
{
    border: 5px solid black;
    display: flex;
}
.details
{
    border: 2px solid rgb(212, 13, 13);
    display: flex;
}

a{
    text-decoration: none;
}

.btn {background-image: linear-gradient(to right, #0f6308 0%, #88e61d  51%, #570c0c  100%)}
.btn {
   margin: 10px;
   padding: 15px 45px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
   display: block;
 }

 .btn:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }

 